
#h1-design{
    color: brown;
    text-shadow: 3px 3px 4px #000000;
}
.button-design{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: azure;
}
#reg-h4-design{
    background: linear-gradient(to bottom, #339933 0%, #00cc66 100%);
}
